<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testDb" connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=test;User ID=test2;Password=test2">
      
    </add>
    
  </connectionStrings>
  <appSettings>
    <add key ="ProgramAdi" value ="Stok Takip Programi"></add>
  </appSettings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>